<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abou our Website</title>
</head>
<body>
    <div class="container" style="text-align: center;">
    {%  include 'navbar.html' %}
     <h1>Welcome to our website</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus unde quia id optio perspiciatis ratione suscipit, repellat pariatur vitae molestiae itaque placeat repudiandae eos laborum possimus laudantium assumenda cum at animi cupiditate. Praesentium magnam provident incidunt vel quos officia et impedit nulla dolore omnis architecto, mollitia adipisci qui earum. Vero.</p>
      <button>Contact Us</button>
    </div>
    {% if isActive %}
    <div>
        <hr/>
        <h1>Today's date is {{date}}</h1>
        <hr/>
        <h1>Student Details:</h1>
        <h2>Name : {{student.name}}</h2>
        <h2>College : {{student.college}}</h2>
        <h2>RollNo : {{student.RollNo}}</h2>
    </div>
    {% endif %}
    <div>
        <hr/>
        <h1>Subject Lists :</h1>
        {% for  subject in subjects%}
        <h3>{{subject}}</h3>
        {% endfor %}
    </div>
</body>
</html>